.header-container {
    background-color: #1F2937;
    padding: 10px 150px 100px 150px;
}
.header {
    display: flex;
    align-items: center;    
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}
.image {
    max-width: 600px;
}
a {
    text-decoration: none;
    color: #E5E7EB;
}
.text {
    max-width: 400px;
}
.main-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}
.main-text {
    font-size: 18px;
    color: #e5e7eb;
}
.page-presentation {
    display: flex;
    justify-content: center;
}
.image-container {
    margin-left: auto;
    margin-top: 20px;
}
.sign-up {
    background-color: #3882f6;
    color: #E5E7EB;
    border: #3882f6;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    padding: 5px 30px 5px 30px;
}
.information {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0px 100px 0px;
}
.information-text {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
.information-images {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 25px;
}
.image-text {
    max-width: 200px;
}
.information-image {
    max-width: 150px;
    border: 5px solid #3882f6;
    border-radius: 5px;
}
.quote-container {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 100px;
}
.quote-div {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    max-width: 800px;
}
.source {
    display: flex;
    justify-content: end;
    margin-top: 15px;    
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
}
.call-to-action-container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 100px;
}
.call-to-action {
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: #3882f6;
    color: #E5E7EB;
    padding: 25px 200px 25px 200px;
    border-radius: 10px;
}
.call-text {

}
.call1 {
    font-size: 20px;
    font-weight: bold;
}
.button-div {
    margin-left: auto;
}
.sign-up2 {
    background-color: #3882f6;
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    color: #E5E7EB;
    font-weight: bold;
    height: 30px;
    width: 100px;
}

body {
    margin: 0;
}