body {
    margin: 0px;
}
.hero, .footer {
    background-color: #1F2937;
}
.hero {
    padding: 0px 200px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}
.hero-main {
    display: flex;
    margin-top: 90px;
    justify-content: space-between;
}
.hero-text-button {
    width: 400px;
}
.hero-main-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0px;
}
.hero-secondary-text, .header-link-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px;
}
.header-link-text {
    list-style: none;
    display: flex;
    gap: 20px;
}
.hero-image {
    width: 450px;
}
.sign-up {
    margin-top: 10px;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    font-size: 17px;
    border-radius: 8px;
    padding: 8px 35px;
    border: none;
}
.information {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.information-header-text {
    color: #1F2937;
    font-weight: bolder;
    font-size: 36px;
}
.container-information-image {
    display: flex;
    width: 1000px;
}
.information-image {
    border: solid 5px #3882f6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}
.container-img-text {
    width: 150px;
}
